@page "/"

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>PuppyTracker v1.0</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <NavLink href="/pottyBreaks" class="btn btn-primary btn-lg btn-block btn-huge"><span class="oi oi-menu">&nbsp;Potty Breaks</span></NavLink>
        </div>

        <div class="col-md-3">
            <NavLink href="/feeding" class="btn btn-primary btn-lg btn-block btn-huge"><span class="oi oi-menu">&nbsp;Feeding</span></NavLink>
        </div>

        <div class="col-md-3">
            <NavLink href="/crate" class="btn btn-primary btn-lg btn-block btn-huge"><span class="oi oi-box">&nbsp;Crate</span></NavLink>
        </div>
        
        <div class="col-md-3">
            <NavLink href="/settings" class="btn btn-primary btn-lg btn-block btn-huge"><span class="oi oi-wrench">&nbsp;Settings</span></NavLink>
        </div>
    </div>
</div>