<h1>Pottybreaks</h1>   

<p *ngIf="!(pottyBreaks$ | async)"><em>Loading...</em></p>
<p>
    <a [routerLink]="['/add']" class="btn btn-primary float-right mb-3">Add Pottybreak</a>
  </p>

<table class="table table-sm table-hover" *ngIf="(pottyBreaks$ | async)?.length>0">
    <thead>
        <tr>
            <th>#</th>
            <th>Time</th>
            <th>Peed</th>
            <th>Pooed</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pottyBreak of (pottyBreaks$ | async)">
            <td>{{ pottyBreak.id }}</td>
            <td>{{ pottyBreak.dateTime }}</td>
            <td>{{ pottyBreak.peed }}</td>
            <td>{{ pottyBreak.pooed }}</td>
            <td>{{ pottyBreak.comment }}</td>
        </tr>
    </tbody>    
</table>