<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">PuppyTrackerClient</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="pottybreaks">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Potty Breaks
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="feedings">
                <span class="oi oi-fork" aria-hidden="true"></span> Feeding
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cratetrainings">
                <span class="oi oi-home" aria-hidden="true"></span> Crate Training
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cratetrainings">
                <span class="oi oi-wrench" aria-hidden="true"></span> Settings
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
